<div>
  <h2><%= link_to '首页', :controller => 'admin/products', :action => 'list' %>&nbsp;&gt;&nbsp;<%= link_to '大分类', :controller => 'admin/big_categories', :action => 'list' %>&nbsp;&gt;&nbsp;<%= '大分类编辑' %>
  </h2>
</div>
<br/>
<hr></hr>
<%= render :partial => "/common/error_message", :locals => {:obj => @big_category} %>
<%= form_for @big_category, :url => {:action => :update} do |f|%>
  大分类名:<td><%= text_field_tag 'big_category[name]',@big_category.name%> </td>
  <%= submit_tag '更新' %>&nbsp;&gt;&nbsp;<%= link_to '取消', :controller => 'admin/big_categories', :action => :list %>
<% end %>

