
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Products: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'signup_login' %>
    <%= stylesheet_link_tag 'signup' %>
    <%= stylesheet_link_tag 'livevalidation' %>
    <%= javascript_include_tag "livevalidation" %>
    <%= csrf_meta_tags %>
  </head>
  

